<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Details</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style1.css" />
    <link rel="stylesheet" href="style3.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="script3.js" defer></script>
  </head>
  <body>
    <header class="header center">
      <div class="container-logo">
        <img src="img/logo.svg" alt="logo" class="img-logo" />
        <p class="logo-title">Interno</p>
      </div>
      <nav class="nav-menu">
        <a href="index.html" class="menu-item">Home</a>
        <a class="menu-item">Project</a>
        <a href="blog.html" class="menu-item">Blog</a>
      </nav>
    </header>
    <main>
      <img src="img3/bg_banner.jpg" alt="banner" class="top-banner" />
      <section class="section-articles-tags center">
        <div id="app" class="app-container">
          <div class="articles">
            <div v-for="(article, index) in filteredArticles" :key="index">
              <article class="article">
                <h2 class="article-title">{{ article.title }}</h2>
                <p class="article-paragraph">{{ article.paragraphOne }}</p>
                <img
                  :src="article.imageUrl"
                  alt="Image"
                  class="article-image"
                />
                <div v-if="article.date" class="article-panel">
                  <p class="article-date">{{ article.date }}</p>
                  <p class="article-breadcromps">Interior / Home / Decore</p>
                </div>
                <p class="article-paragraph">{{ article.paragraphTwo }}</p>
                <div v-if="article.details" class="article-details">
                  <h2 class="article-details-head">“</h2>
                  <p class="article-details-caption">
                    The details are not the details. <br />They make the design.
                  </p>
                </div>
              </article>
            </div>
          </div>
          <div class="tags-container">
            <h2 class="tags-title">Tags</h2>
            <div class="tags">
              <div v-for="(tag, index) in tags" :key="index">
                <p
                  :class="{ 'tag': true, 'selected': tag.name === selectedTag }"
                  @click="filterArticlesByTag(tag.name)"
                >
                  {{ tag.name }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer center">
      <div class="footer-column">
        <div class="container-logo">
          <img src="img/logo.svg" alt="logo" class="img-logo" />
          <p class="logo-title">Interno</p>
        </div>
        <p class="names-caption">
          It is a long established fact that a reader will be distracted
          lookings.
        </p>
        <img class="names-media" src="img/media.png" alt="media" />
      </div>
      <nav class="footer-column footer-gap">
        <h6 class="footer-nav-title">Pages</h6>
        <a href="index.html" class="menu-item">Home</a>
        <a class="menu-item">Project</a>
        <a href="blog.html" class="menu-item">Blog</a>
      </nav>
      <div class="footer-column footer-gap">
        <h6 class="footer-contacts-title">Contact</h6>
        <p class="contacts-address">
          55 East Birchwood Ave. Brooklyn, New York 11201
        </p>
        <p class="contacts-email">contact@interno.com</p>
        <p class="contacts-phone">(123) 456 - 7890</p>
      </div>
    </footer>
  </body>
</html>
