@import "variables";

@mixin flexCenter() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.center {
  margin-left: calc(50% - 500px);
  margin-right: calc(50% - 500px);
}

.header {
  @include flexCenter;
  margin-top: 53px;
  flex-direction: row;
  justify-content: space-between;
}

.container-logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.img-logo {
  width: 34px;
  height: 34px;
}

.logo-title {
  color: $black-color;
  font-family: DM Serif Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 24px;
}

.menu-item {
  color: $black-color;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.hero {
  @include flexCenter;
  margin-top: 40px;
  align-items: flex-start;
  background-image: url("img/bg_hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  border-radius: 80px;
  padding: 24px;
  aspect-ratio: 20 / 13;
}

.hero-title {
  color: $black-color;
  font-family: DM Serif Display;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.hero-caption {
  margin-top: 18px;
  color: $grey-color;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}

.hero-button {
  margin-top: 21px;
  display: flex;
  gap: 10px;
  padding: 26px 49px 26px 48px;
  color: white;
  border-radius: 18px;
  background-color: $black-color;
  text-align: center;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.36px;
}

.section-projects {
  margin-top: 80px;
  // @include flexCenter;
}

.projects-title {
  color: $black-color;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1px;
}

.projects-caption {
  margin-top: 8px;
  color: $grey-color;
  text-align: center;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}

.container-projects {
  margin-top: 93px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 56px 104px;
}

.container-projects :nth-child(4n) .card-img {
  border-radius: 0px 0px 0px 80px;
}

.container-projects :nth-child(4n + 1) .card-img {
  border-radius: 0px 80px 0px 0px;
}

.container-projects :nth-child(4n + 2) .card-img {
  border-radius: 80px 0px 0px 0px;
}

.container-projects :nth-child(4n + 3) .card-img {
  border-radius: 0px 0px 80px 0px;
}

.project-card {
  display: flex;
  flex-direction: column;
}

.card-img {
  width: 100%;
  height: auto;
  background: #c4c4c4;
}

.card-panel {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-text {
  display: flex;
  flex-direction: column;
}

.card-title {
  color: $black-color;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
}

.card-label {
  margin-top: 4px;
  color: $grey-color;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}

.section-promo {
  margin-top: 96px;
  background-color: $lightbrown-color;
  display: flex;
  padding-top: 163px;
  padding-bottom: 164px;
  flex-direction: column;
  align-items: center;
}

.promo-horizontal {
  display: flex;
  justify-content: center;
}

.promo-horizontal > :not(:last-child) {
  margin-right: 38px;
  border-right: 1px solid $brown-color;
  padding-right: 38px;
}

.promo-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.promo-number {
  color: $brown-color;
  font-family: DM Serif Display;
  font-size: 85px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1.7px;
}

.promo-label {
  color: $grey-color;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}

.section-articles {
  margin-top: 96px;
  @include flexCenter;
}

.articles-title {
  color: $black-color;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1px;
}

.articles-caption {
  margin-top: 12px;
  color: $grey-color;
  text-align: center;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}

.articles-carousel {
  margin-top: 52px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 27px;
}

.article-card {
  border: 1px solid $lightgrey-color;
  display: flex;
  flex-direction: column;
  padding: 21px;
  border-radius: 62px;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
}

.article-img {
  border-radius: 45px 45px 0px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: local;
  aspect-ratio: 34 / 29;
  display: flex;
  padding-left: 20px;
  padding-bottom: 21px;
  align-items: end;
}

.article-label {
  color: $grey-color;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  background-color: white;
  padding: 8px 12px;
  border-radius: 8px 8px 8px 0px;
  letter-spacing: 0.16px;
  text-transform: capitalize;
}

.article-caption {
  color: $black-color;
  margin-top: 20px;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
}

.article-panel {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-date {
  color: $grey-color;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.16px;
  text-transform: capitalize;
}

.footer {
  margin-top: 96px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 96px;
  grid-gap: 104px;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-gap {
  padding-left: 60px;
  gap: 25px;
}

.names-caption {
  margin-top: 18px;
  color: $grey-color;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}

.names-media {
  margin-top: 31px;
  width: 225px;
  height: 22px;
}

.footer-nav-title {
  color: $black-color;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.footer-contacts-title {
  color: $black-color;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.contacts-address,
.contacts-email,
.contacts-phone {
  color: $grey-color;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
